footer{
    background: $fourthColor;

    .fa-linkedin-in,
    .fa-twitter,
    .fa-medium,
    .fa-github{
        font-size: $bigSize;
        color:$eighthColor;
        margin-left: 15px;
        margin-right: 15px;
    }
    .copyright{
        color: $eighthColor;
        font-size: $tinySize;
        text-align: center;
    }
}