section.heroContainer{
    background-image: url(../../assets/alesia-kazantceva-298664-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.headerBarContainer{
    height: 57px;
    border-bottom: 1px solid $eighthColor;
    background: rgba(0,0,0,0.5);
}

.headerBarBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBar{
    display: flex;
    .headerLogo{
        width: 55px;
        height: 55px;
        padding-top: 5px;
    }
    
    p{
        font-size: $regularSize;
        color: $eighthColor;
    }

    nav{
        margin-left: 120px;
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin: 0;
        // padding-left: 0;
    }
    ul li{
        font-size: $regularSize;
        color: $eighthColor;
        list-style: none;
        width: calc(100% / 4);
        margin: 0px 17px;
    }

    li a:hover,
    li a:focus{
        color: $fourthColor;
    }

    .fa-linkedin-in,
    .fa-twitter,
    .fa-medium,
    .fa-github{
        font-size: $regularSize;
        color:$eighthColor;
        margin-left: 15px;
        margin-right: 15px;
    }

    .fa-linkedin-in:hover,
    .fa-twitter:hover,
    .fa-medium:hover,
    .fa-github:hover,
    .fa-linkedin-in:focus,
    .fa-twitter:focus,
    .fa-medium:focus,
    .fa-github:focus{
        color: $fourthColor;
    }

    a{
        text-decoration: none;
        color: $eighthColor;
    }
}

.heroText{
    max-width: 400px;
    // border: 8px solid $fourthColor;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1{
        font-weight: 800;
        font-size: 70px;
        letter-spacing: 7px;
        color: $eighthColor;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
    h2{
        font-size: $bigSize;
        color: $eighthColor;
    }
}