// ABOUT CONTAINER
.mainGiantContainer{
    display: flex;
    flex-wrap: wrap;
}

.aboutContainer{
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    h2{
        font-size: $bigSize;
        text-align: center;
        border-bottom: 1px solid $firstColor;
        padding-bottom: 45px;
    }

    h3{
        font-size: $regularSize;
        text-align: center;
        color: $fourthColor;
        line-height: 1.6;
    }
    p{
        font-size: $smallSize;
        font-family: $secondFont;
        line-height: 1.6;
        padding-bottom: 15px;
    }

}
// SEPARATION CONTAINER
section.separationContainer{
    display: flex;
    justify-content: center;
}

.portfolioText{
    display: flex;
}
.portfolioText h2{
    font-size: $bigSize;
    color: $ninethColor;
    text-align: center;
    border-bottom: 1px solid $firstColor;
    padding-bottom: 45px;
}


button{
    outline: none;
    margin-top: 40px;
    background: none;
    border: 0;
    /* === creating a box container the same size as the button === */
    box-sizing: border-box;
    // margin: 45px;
    padding: 10px 45px;
    /* === this is a box with a box shadow around it === */
    box-shadow: inset 0 0 0 1px $firstColor;
    color:$ninethColor;
    font-size: $regularSize;
    font-weight: 500;
    /*=== we want the button to be on the bottom layer of the styling ===*/
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}
button::before, button::after {
/* === we need box sizing here to be the same as the transition appear and disappear === */
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: $fourthColor;
    border-right-color: $fourthColor;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
    border-bottom-color: $fourthColor;
    border-left-color: $fourthColor;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
// PORTFOLIO AND PROJECT CONTAINER
.containerForMobile1{
    display: flex;
}

.containerForMobile2{
    display: flex;
}
.projectContainer{
   width: 50%;
   padding-right: 48px;
}

section.vertLine1,
section.vertLine2,
section.vertLine3{
     border-left: 1px solid $firstColor;
}

.asideBox{
    width: 50%;
    height: 575px;
    .numRight,
    .numLeft{
        padding: 18px;
    }
    .numLeft h2{
        font-size: $biggestSize;
        font-family: $baseFont;
        font-weight: 400;
        text-align: right;
        margin-top: 10px;
    }
    
    .numLeft h3{
        font-family: $baseFont;
        font-weight: 400;
        font-size: $bigSize;
        margin-top: 40px;
        text-align: right;
        // padding: 0px 30px;
    }
    .numRight h2{
        font-size: $biggestSize;
        font-family: $baseFont;
        font-weight: 400;
        text-align: left;
        margin-top: 10px;
    }
    .numRight h3{
        font-family: $baseFont;
        font-weight: 400;
        font-size: $bigSize;
        margin-top: 40px;
    }
}

.projectBox{
    width: 100%;
}

.spanContainer{
    padding: 10px; 
}

.spanContainer span{
        font-size: $tinySize;
        border: 1px solid $fourthColor;
        padding: 5px 35px;
        margin-top:10px;
        display: inline-block;
}

.projectContainer p{
        font-family: $secondFont;
        font-size: $regularSize;
        margin-top: 40px; 
        padding: 0px 30px;
    }

.asideBox button{
    a{
        text-decoration: none;
    }
}


// Skill Button
.skillButton{
    display: flex;
    justify-content: center;
}
.skillButton h2{
    font-size: $bigSize;
    color: $ninethColor;
    text-align: center;
    border-bottom: 1px solid $firstColor;
    padding-bottom: 45px;
}
// Skills Container
.skillContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.curSkillContainer{
    margin: 50px 0px;
    p{
        font-size: $regularSize;
        
    }

    i{
        font-size: 60px;
        color: $tenthColor;
        padding: 15px 25px;
    }
}

.learnContainer{
    margin: 0 auto;
    p{
        font-size: $regularSize;
        text-align: center;
        margin-bottom: 55px;
    }
    i{
        font-size: 60px;
        color: $tenthColor;
        padding: 10px 25px;
    }
}

.contactContainer{
    padding: 60px 0px;
    h2{
        font-size: $bigSize;
        color: $ninethColor;
        text-align: center;
        // border-bottom: 1px solid $firstColor;
        padding-bottom: 45px;
        
    }
    .fa-envelope {
        font-size: 85px;
        color: $fourthColor;
        padding: 10px 25px;
    }
    .contactBox{
        display: flex;
        justify-content: center;
    }
    a{
        display: flex;
        font-size: $regularSize;
        text-decoration: none;
        color: $ninethColor;
    }
    a:hover{
        color: $fourthColor;
    }
}