// ABOUT CONTAINER
.aboutContainer{
    padding-top: 100px;
    max-width: 600px;
    h2{
        font-size: $bigSize;
        text-align: center;
        border-bottom: 1px solid $firstColor;
        padding-bottom: 45px;
    }
    h3{
        font-size: $regularSize;
        text-align: center;
        color: $fourthColor;
        line-height: 1.6;
    }
    p{
        font-size: $smallSize;
        font-family: $secondFont;
        line-height: 1.6;
        padding-bottom: 15px;
    }

}
// SEPARATION CONTAINER
section.separationContainer{
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.buttonBox{
    display: flex;
}

button{
    margin-top: 40px;
    background: none;
    border: 0;
    /* === creating a box container the same size as the button === */
    box-sizing: border-box;
    // margin: 45px;
    padding: 16px 65px;
    /* === this is a box with a box shadow around it === */
    box-shadow: inset 0 0 0 1px $firstColor;
    color:$ninethColor;
    font-size: $regularSize;
    font-weight: 500;
    /*=== we want the button to be on the bottom layer of the styling ===*/
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}
button::before, button::after {
/* === we need box sizing here to be the same as the transition appear and disappear === */
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: $fourthColor;
    border-right-color: $fourthColor;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
    border-bottom-color: $fourthColor;
    border-left-color: $fourthColor;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
// PORTFOLIO AND PROJECT CONTAINER
.projectContainer{
    max-width: 50%;
    border: 1px solid $firstColor;
}

.projectContainer .projectBox{
    width: 650px;
    height: 400px;
    border: 1px solid green;
    margin: 15px auto;
}

.projectBox span{
    font-size: $tinySize;
    border: 1px solid $fourthColor;
    padding: 5px 35px;
}

.projectBox p{
        font-family: $secondFont;
        font-size: $regularSize;
        margin-top: 45px; 
    }


// Skills Container
.skillContainer{
    display: flex;
}
.curSkillContainer{
    p{
        font-size: $regularSize;
    }
    i{
        font-size: 85px;
        color: $tenthColor;
        padding: 10px 25px;
    }
}

.learnContainer{
    border-left: 1px solid $firstColor;
    p{
        font-size: $regularSize;
    }
    i{
        font-size: 85px;
        color: $tenthColor;
        padding: 10px 25px;
    }
}

.contactContainer{
    h2{
        font-size: $bigSize;
        text-align: center;
        // border-bottom: 1px solid $firstColor;
    }
    .fa-envelope {
        font-size: 85px;
        color: $fourthColor;
        padding: 10px 25px;
    }
    p{
        font-size: $regularSize;
        text-align: center;
    }
}