@media (max-width:1120px){
    .headerBar .fa-linkedin-in,
    .headerBar .fa-twitter,
    .headerBar .fa-medium,
    .headerBar .fa-github{
        display:none;
    }
    .headerLogo{
        display: none;
    }
    .headerBar nav{
        margin-left: 0;
        margin-top: 15px;
    }
    .headerBarBox.wrapper{
        max-width: 100%;
    }
}

@media (max-width: 1080px){
    .wrapper{
        max-width: 100%;
    }
    section.vertLine1,
    section.vertLine2,
    section.vertLine3{
     border-left: none;
    }
    .asideBox .numLeft h3{
        text-align: center;
    }
    .asideBox .numLeft h2{
        text-align: center;
        font-size: 36px;
    }

    .asideBox .numRight h3,
    .asideBox .numRight{
        text-align: center;
    }

    .asideBox .numRight h2{
        text-align: center;
        font-size: 36px;
    }
    
    .spanContainer{
        text-align: center;
    }

    .projectContainer{
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .asideBox{
       width: 100%;
       height: 300px;
       .numLeft{
           text-align: center;
       }
    }

    .containerForMobile1{
        flex-direction: column;
    }

    .containerForMobile2{
        flex-direction: column-reverse;
    }

    .projectContainer p {
    text-align: left;
    line-height: 1.4;
    }

    // .curSkillContainer i{
    //     display: inline-block;
    // }
}

@media(max-width: 900px){
    .curSkillContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media (max-width: 800px){
    .wrapper{
        max-width: 100%;
    }

    .footerContact nav{
        display: flex;
    }

    footer ul{
        flex-direction: column;
        align-items: center;
    }

    footer ul li{
        margin-bottom: 15px;
    }
    
    .projectContainer p{
        padding: 0px;
    }

}


@media (max-width: 620px){
    .heroText h1{
        font-size: 63px;
    }
    .heroText h2{
        font-size: 24px;
    }
    .aboutContainer{
        max-width: 500px;
    }
}

@media (max-width: 560px){
    .heroText h1{
        font-size: 57px;
    }
    .heroText h2{
        font-size: 18px;
    }

}

@media (max-width: 500px){
    .aboutContainer{
        max-width: 400px;
    }
}

@media (max-width: 480px){
    .asideBox{
        height: 400px;
    }
    
    button.draw{
        margin-top: 20px;
    }
    .learnContainer i{
        padding: 0px;
    }
}

@media (max-width: 410px){
    .curSkillContainer{
        display: flex;
        flex-wrap: wrap;
        }  
    .headerBar ul li {
        font-size: 18px;
    } 
}

@media (max-width: 380px){
    .headerBar ul li {
        font-size: 16px;
    } 

    .heroText h1{
        font-size: 53px;
    }
}

@media (max-width: 345px){
    .headerBar ul li {
        font-size: 15px;
    } 

    .heroText h1{
        font-size: 48px;
    }
}